@model Midterm_Assignment1_Login.Models.User
<link href="~/css/logins.css" rel="stylesheet" />
<div class="container">
    <div class="main">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.LabelFor(model => model.Username)
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control"})
                <div class="error-message">
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "password-field" })
              
                <div class="error-message">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <input type="checkbox" onclick="showPassword()"> Show Password
            </div>
            <button type="submit">Login</button>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        }
    </div>
</div>

<script>
    function showPassword() {
        var passwordField = document.getElementById("password-field");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>