@model Midterm_Assignment1_Login.Models.User
<link href="~/css/login.css" rel="stylesheet" />
<div class="container">
    <div class="main">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.LabelFor(model => model.Username)
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            </div>
            <button type="submit">Login</button>
        }
    </div>
</div>