@model Midterm_Assignment1_Login.Models.User

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username)
    </div>
    <div>
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password)
    </div>
    <button type="submit">Register</button>
}